<html lang="en">
<head>
	<title>Blog</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	<link href="../css/blog.css" rel="stylesheet">
	
</head>
<body>

	<div class="flex-container">
		<div class="content-container">
		<div class="flex-item" id="flex-image-1">
			<img src="../images/background1.jpg"/>
		</div>
		<div class="flex-item flex-text" id="flex-text-1">
			<h1>Sample Text</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat ligula vitae finibus efficitur. Donec id sapien egestas, suscipit sem non, vehicula libero. Cras tincidunt bibendum aliquet. Mauris luctus lorem quis urna vulputate, hendrerit vehicula lacus cursus. Proin pellentesque gravida dolor at pellentesque. Donec a mi porttitor, congue elit vitae, tempor massa. Proin eleifend enim nec lorem cursus vulputate.
			<br></br>
			Quisque vehicula eros massa, placerat fermentum lorem commodo id. Curabitur faucibus imperdiet tellus vitae maximus. Aliquam commodo dui a lorem egestas dapibus. Proin varius justo nunc, sed condimentum massa maximus id. Sed felis mi, rutrum quis vehicula nec, tincidunt non lectus. Aliquam quis libero non leo aliquam ultricies. Maecenas ullamcorper suscipit ipsum, a cursus libero tristique a. Vestibulum dapibus pharetra augue, eu sagittis sem molestie in. Praesent sollicitudin, mi et maximus gravida, sapien augue ultrices lectus, id consectetur neque diam eu mi. Donec ut dolor ac justo viverra aliquet in et massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam at rhoncus ante. In hac habitasse platea dictumst.
			<br></br>
			In ut dui quis velit semper suscipit. Aliquam sed est accumsan, vulputate urna efficitur, accumsan orci. Fusce tincidunt quam eu euismod aliquam. In nec convallis elit, at suscipit orci. Ut venenatis auctor massa. Mauris viverra est vel ornare consectetur. Etiam at tempus nisl, vitae malesuada dui. Fusce rutrum risus ac nisi venenatis, non sodales dolor fermentum. Aenean posuere varius vestibulum. Sed felis mi, sodales sed accumsan a, accumsan et sapien.</p>
		</div>
		<div class="flex-item" id="flex-image-2">
			<img src="../images/background2.jpg"/>			
		</div>

		<div class="flex-item flex-text" id="flex-text-2">
			<h1>Sample Text</h1>
			<p>Vivamus blandit scelerisque elit vel rutrum. Morbi sed sapien at magna elementum pharetra. Duis in nulla in ligula commodo sodales. Nullam eu nibh non lectus gravida volutpat. Nunc turpis ipsum, posuere quis lacinia id, vehicula in eros. Aenean nec condimentum turpis, ut facilisis ligula. Nam euismod urna id fermentum gravida. Etiam eros metus, ultricies eget consequat eget, fringilla tempor nulla. Ut a faucibus libero, non fringilla elit. Nulla ac iaculis tortor. Pellentesque sit amet iaculis enim. In ex ipsum, dapibus at odio ut, venenatis tristique eros. Ut viverra dictum ex.
			<br></br>
			Sed gravida magna eu mattis consequat. Sed aliquet velit neque. Praesent a magna sit amet justo facilisis accumsan ut ac lacus. Pellentesque laoreet at augue at interdum. Quisque non turpis accumsan, varius ligula a, laoreet sapien. Vestibulum iaculis posuere varius. Vivamus pretium orci lacus, vitae dignissim diam egestas ut. Ut ligula felis, fermentum a luctus ac, tempus non magna. Nam fringilla interdum leo in vehicula.
			<br></br>
			Vestibulum tempor eleifend pulvinar. Duis pharetra luctus mauris, vitae feugiat risus dapibus ac. Cras vulputate, felis vitae imperdiet euismod, ligula diam tristique turpis, sed lobortis orci enim sed dolor. Quisque suscipit erat vulputate, fringilla ipsum sed, convallis urna. Donec malesuada condimentum ipsum, non iaculis metus lobortis sit amet. Etiam sollicitudin lacus eu dictum faucibus. In hac habitasse platea dictumst. In luctus aliquet rhoncus. Pellentesque molestie cursus nisl.

			</p>
		</div>
		</div>

		<div id="column-left">
			<div class="flex-menu-seperator" id="flex-menu-seperator-1"></div>
			<div class="flex-item flex-menu" id="flex-menu-1">
				<p >Home</p>
			</div>
			<div class="flex-menu-seperator" id="flex-menu-seperator-2">
			</div>
			<div class="flex-item flex-menu" id="flex-menu-2">
				<p >Blog</p>
			</div>
			<div class="flex-menu-seperator" id="flex-menu-seperator-3">
			</div>
			<div class="flex-item flex-menu" id="flex-menu-3">
				<p >Images</p>
			</div>
		</div>
		<div id="column-right">
			
		</div>
		
	</div>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="../js/blog.js"></script>
</body>
</html>