<html lang="en">
<head>
	<title>Blog</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	<link href="../css/base.css" rel="stylesheet">
</head>
<body>

	<div class="flex-container">
		<div class="content-container">
		<div class="flex-item" id="flex-image-1">
			<img src="../images/background1.jpg"/>
		</div>
		<div class="flex-item" id="flex-text-1">
			<h1>Sample Text</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat ligula vitae finibus efficitur. Donec id sapien egestas, suscipit sem non, vehicula libero. Cras tincidunt bibendum aliquet. Mauris luctus lorem quis urna vulputate, hendrerit vehicula lacus cursus. Proin pellentesque gravida dolor at pellentesque. Donec a mi porttitor, congue elit vitae, tempor massa. Proin eleifend enim nec lorem cursus vulputate.

			Quisque vehicula eros massa, placerat fermentum lorem commodo id. Curabitur faucibus imperdiet tellus vitae maximus. Aliquam commodo dui a lorem egestas dapibus. Proin varius justo nunc, sed condimentum massa maximus id. Sed felis mi, rutrum quis vehicula nec, tincidunt non lectus. Aliquam quis libero non leo aliquam ultricies. Maecenas ullamcorper suscipit ipsum, a cursus libero tristique a. Vestibulum dapibus pharetra augue, eu sagittis sem molestie in. Praesent sollicitudin, mi et maximus gravida, sapien augue ultrices lectus, id consectetur neque diam eu mi. Donec ut dolor ac justo viverra aliquet in et massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam at rhoncus ante. In hac habitasse platea dictumst.

			In ut dui quis velit semper suscipit. Aliquam sed est accumsan, vulputate urna efficitur, accumsan orci. Fusce tincidunt quam eu euismod aliquam. In nec convallis elit, at suscipit orci. Ut venenatis auctor massa. Mauris viverra est vel ornare consectetur. Etiam at tempus nisl, vitae malesuada dui. Fusce rutrum risus ac nisi venenatis, non sodales dolor fermentum. Aenean posuere varius vestibulum. Sed felis mi, sodales sed accumsan a, accumsan et sapien.</p>
		</div>
		<div class="flex-item" id="flex-image-2">
			<img src="../images/background2.jpg"/>			
		</div>
		</div>

		<div id="column-left">
			
		</div>
		<div id="column-right">
			
		</div>
		
	</div>
	
</body>
</html>