<!DOCTYPE html>
<html lang="en">
<head>
	<title>Blog</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	<link href="/css/blog.min.css" rel="stylesheet">	
	<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
	
</head>
<body>

	<div class="flex-container">
		<div class="content-container">
			<div class="flex-item flex-map" id="map0"><div class="abs-map" id="abs-map-0"></div></div>
		</div>

		<div id="column-left">
		
			<div class="flex-menu-seperator" id="flex-menu-seperator-1"></div>
			<div class="flex-item flex-menu" id="flex-menu-1">
				<p >Home</p>
			</div>
		
			<div class="flex-menu-seperator" id="flex-menu-seperator-2">
			</div>
			<div class="flex-item flex-menu" id="flex-menu-2">
				<p >Blog</p>
			</div>
			<div class="flex-menu-seperator" id="flex-menu-seperator-3">
			</div>
			<div class="flex-item flex-menu" id="flex-menu-3">
				<p >Images</p>
			</div>
		</div>
		
		
	</div>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script async src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
	<script src="/js/trip.min.js"></script>
</body>
</html>