body {
	
	margin: 0px;
	padding:0px;
	font-family: 'Roboto Condensed' , serif;
	display: flex;
  	min-height: 100vh;	
}



.flex-container {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	flex-direction: column;
	text-align: center;

}	

img {max-width:100%;}
	.flex-container {		
		flex: 1;
	}

	.content-container {
		display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  		display: -ms-flexbox;  /* TWEENER - IE 10 */
  		display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  		display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
		flex-flow: column;
		flex: 1;
		
	}

	.image-container {
		display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  		display: -ms-flexbox;  /* TWEENER - IE 10 */
  		display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  		display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
		list-style: none;
		flex-flow: row wrap;
		-webkit-flex-flow: row wrap;
		justify-content:  space-around;		
		align-items: center;
	}

	#column-left {
		order: -1;
		background-color: #01659F;
		flex-direction: row;		
		display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  		display: -ms-flexbox;  /* TWEENER - IE 10 */
  		display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  		display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
		margin-bottom: 5px;
		padding:5px;
	}



	
	.content-container .flex-item img{
		
		flex-basis: auto;
		max-width: 65%;
		min-width: 25%;
	}

	.flex-text{
		
		flex-basis: auto;
		max-width: 75%;
		margin: 0 auto;
	}



	

	.flex-menu {		
		-moz-box-shadow:     2px 2px 20px #000000;
   		-webkit-box-shadow:  2px 2px 20px #000000;
   		box-shadow:          2px 2px 20px #000000;
   		background-color: #0350A9;
		width: 12em;			
		margin: 5px;
		padding-bottom: 2px;
		padding-top: 2px;

	}

	.flex-menu > p {
		color: #ffffff;
		text-shadow: 1px 1px 0px #000000;
		text-align: center;
		vertical-align: middle;

	}

	.flex-menu:hover {
		-moz-box-shadow:    0 0 0px #000000;
   		-webkit-box-shadow: 0 0 0px #000000;
   		box-shadow:         0 0 0px #000000;
	}

	.flex-menu:active {
		-moz-box-shadow:     inset 2px 2px 20px #000000;
   		-webkit-box-shadow:  inset 2px 2px 20px #000000;
   		box-shadow:          inset 2px 2px 20px #000000;
	}

	.flex-menu-seperator {
		height: 10px;
	}	



@media screen and (max-width: 800px){
	.content-container .flex-item img{
		
		flex-basis: auto;
		max-width: 100%;
	}

	.flex-text{
		
		flex-basis: auto;
		max-width: 100%;
	}

	
}